.noFocus:focus {
  background-color: #ffffff00;
}


/* @media only screen and (min-width: 1500px) {
  #book-dialog-id {
    width: 60%;
  }
}

@media only screen and (max-width: 1500px) {
  #book-dialog-id {
    width: 60%;
  }
}

@media only screen and (max-width: 1200px) {
  #book-dialog-id {
    width: 70%;
  }
}

@media only screen and (max-width: 900px) {
  #book-dialog-id {
    width: 90%;
  }
} */
