/* .slider {
    animation: move 2s infinite;
    position: relative;
    z-index: 2;
    }
    @keyframes move{
        0%{left:-1200px;}
        20%{left:-1100px;}
        35%{left:-1000px;}
        50%{left:-900px;}
        70%{left:-850px;}
        90%{left:-850px;}
        100%{left: -850;}
    }
.footer {
    position: relative;
    z-index: 2;
} */

.slider {
    position: absolute;
    left: 450px;
    top: -350px;
    width: 1200px;
    height: 500px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 8s forwards;
    animation-delay: 1s;
}

@-webkit-keyframes slide {
    100% { top: 0; }
}

@keyframes slide {
    100% { top: 50px; }
}

.sliderVlad {
    position: absolute;
    left: 450px;
    left: -350px;
    /* width: 1200px;
    height: 500px; */
    -webkit-animation: slideVlad 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slideVlad 8s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slideVlad {
    100% { left: 0; }
}

@keyframes slideVlad {
    100% { left: 50px; }
}